
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input:focus,
.form-control input {
    outline: none;
}
.form-control label{
    font-weight: bold;
    font-size: 1.2rem;
}

.form-control input {
    width: 100%;
    border: 2px solid #dbc441;
    font: inherit;
    border-radius: 5px;
    padding: 5px 10px;
}

button {
    font: inherit;
    border: 2px solid #3e00a1;
    color: #3e00a1;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover,
button:active {
    background: #3e00a1;
    color: #fff;
}